:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --terty-color: #90c2e6;
    --black: #010101;
    --white: #f2f2f2;
    --background-color: aliceblue;
    --orange: orange;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
